@using WebSiteBanHang.Models;
@model IEnumerable<ItemGioHang>

<div class="cart box_1">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <h3>
            <div class="total">
                <span class="simpleCart_total">@ViewBag.tongtien.ToString("#,##") VND</span> (<span >@ViewBag.tongsoluon</span> items)
            </div>
            <img src="~/Content/images/cart.png" alt="">
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Gio Hang</a></p>

</div>