
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<head>
    <title>Kipy Login Form Responsive Widget Template  : w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Kipy Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates">
    <link href="~/Content/LayoutCsss/style.css" rel="stylesheet" type="text/css">
    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Marvel:400,700" rel="stylesheet" type="text/css">
    <!--//webfonts-->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>   
</head>
<body>
    <div style="height:600px">
        <br />
        <input type="button" value="Đăng Nhập" id="btDangNhap" class="btn btn-primary" style="margin-left:5px"/>
        <div id="popup-login">
            <div class="login-form">
                <div style="clear:both;text-align:right;margin-bottom:0;">
                    <span id="close-form" class="btn btn-danger">X</span>
                </div>
                <h2>Đăng Nhập</h2>
                <div class="form-info">
                    <form>
                        <input type="text" class="email" placeholder="Email Address" required="">
                        <input type="password" class="password" placeholder="Password" required="">
                        <p><a href="#">Forgot password?</a></p>
                        <ul class="login-buttons">
                            <li><input type="submit" value="LOGIN"></li>
                            <li><a href="#" class="hvr-sweep-to-left">REGISTER</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <!--copyrights-->
    </div>
</body>
<style>
    #btDangNhap {
    float:left
    }
    #popup-login{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,.5);
        z-index:99;
        display:none;
    }
</style>

@*Dung jquery de an va hien popupdangnhap*@
<script type="text/javascript">
    $("#btDangNhap").click(function () {
        $("#popup-login").show();
    });
    $("#close-form").click(Anform);
    function Anform() {
        $("#popup-login").css("display","none");
    };
</script>
