@using WebSiteBanHang.Models;
@{
    ViewBag.Title = "SanPham1";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{ IEnumerable<SanPham> listSP = (IEnumerable<SanPham>)ViewBag.ltrSP;
    IEnumerable<SanPham> listDT = (IEnumerable<SanPham>)ViewBag.ltrDT;
    }
@*Cach 1 dung Action*@
@*@Html.Action("PartialSanPham")*@
@*Cach 2 dung luon PartialView + ViewBag*@
<div class="container">
    <div class="content-top">
        <h2>LapTop Mới</h2>
        @Html.Partial("PartialSanPham", listSP)

        </div>
</div>
<div class="container">
    <div class="content-top">
        <h2>Điện Thoại Mới</h2>
        @Html.Partial("PartialSanPham", listDT)

    </div>
</div>